// app/assets/stylesheets/application.scss

@import "bootstrap/scss/bootstrap";
@import 'top';

.logo-image {
  width: 300px; /* 適切なサイズに調整 */
  height: auto;
}

.user-image {
  width: 100px; /* 適切なサイズに調整 */
  height: auto;
}

body {
    background: url('top.png') no-repeat center center fixed;
    background-size: contain;
    background-attachment: fixed; /* 背景画像がスクロールに合わせて固定される */
    background-repeat: no-repeat; /* 背景画像の繰り返しを無効化 */
    background-position: center; /* 背景画像を中央に配置 */
  }
footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer {
  background-color: #f8f9fa;
  text-align: center;
  padding: 1rem 0;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;

    a {
      color: #343a40;
      margin: 0 0.5rem;
      text-decoration: none;

      &:hover {
        color: #007bff;
      }
    }

    p {
      margin-top: 0.5rem;
      color: #6c757d;
    }
  }
}

footer.fixed-bottom {
  position: fixed;
  bottom: 0;
  width: 100%;
}
